.explore{
    flex:0.5;
    border-right: 1px solid var(--twitter-background);
    overflow-y: scroll;
}
.explore::-webkit-scrollbar{
    display: none;
}
.explore {
    -ms-overflow-style: none;
    scrollbar-width: none
    ;
}